@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-secondary: #DBEAFE;
  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;
  --color-text-main: #0F172A;
  --color-text-muted: #64748B;
  --color-border: #E2E8F0;
  --color-success: #10B981;
  --color-danger: #EF4444;
}

@layer utilities {
  /* Esconde a barra no Chrome, Safari e Opera */
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }

  /* Esconde a barra no IE, Edge e Firefox */
  .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}